@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
      font-family: 'Poppins', sans-serif;
    
}

/* animationss */



/* navbar */


nav{
      position: fixed;
      width: 100%;
      z-index: 999;
      height: 75px;
      line-height: 20px;
     background: #e6edfb;
}
nav .wrapper{
      position: relative;
      max-width: 1250px;
      padding: 10px 30px;
      margin:auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    
     
}
.wrapper .nav-links{
      display:inline-flex;
      font-size: 17px;
      font-weight: 500;
      margin-top: 20px;
      
}
.nav-links li{
      list-style: none; 
      border-radius: 10px;
}
.nav-links li:hover .drop-menu{
      opacity: 1;
      visibility:visible;
      transition: all .3s ease-in-out;
      top: 55px;
      border-radius: 10px;
}

.nav-links li:hover .mega-box{
      opacity: 1;
      visibility:visible;
      transition: all .3s ease-in-out;
      top: 65px;
      background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.nav-links li a{
      color: rgb(96, 114, 131);
      text-decoration: none;
      padding:9px 15px;
      margin-right: 10px;
      font-weight: 500; 
      transition: all 600ms ease; 
      text-transform: capitalize;
}
.nav-links li a.active{
      color: #03031d;
}

.nav-links li a:hover{
      color: #03031d;
    
  
}
.wrapper .nav-links li a.login:hover{
      text-decoration: none;
      background: linear-gradient(to right, #060707 0%, #2230d1  51%, #062416 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
.wrapper .login li a{
      color: rgb(14, 14, 14);
     
}

.mega-box{
      position:absolute;
      top:55px;
      width:100%;
      left: 0;
      opacity: 0;
      visibility:hidden;
      transition: all .3s ease-in-out;
      
     
   
}
.mega-box .content{
     
      padding: 25px 20px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-radius: 10px;
      
}
.mega-box .content .row{
      width:calc(25% - 30px);
     
}
.mega-box .content .row li{
      line-height:45px;
      font-size: 16px;
      font-weight: 500;
}
.content .row img{
      width:100%;
      height:100%;
      object-fit: cover;
}
.content .row header{
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      text-align:left;
      text-transform: capitalize;
      background: linear-gradient(to right, #18e4e4 0%, #585842  51%, #67aed8 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
.content .row .mega-links{
      margin-left: -40px;;
      border-left: 1px solid rgba(78, 76, 76, 0.09);
      width: 100%;
}
.row .mega-links li{
      padding: 0 20px;
    text-transform: capitalize;
     
  
}
.row .mega-links li a{
      padding: 0 20px;
      font-size: 17px;
      display: block;
      text-align: left;
    
}
.nav-links .mobile-item{
      display:none;

}
.wrapper .btn{
      color: rgb(0, 0, 0);
      font-size: 20px;
      cursor: pointer;
      display: none;

}
.wrapper .btn.cancel-btn{
      position:absolute;
      right: 30px;
      top: 10px;

}
.modal{
      position:inherit;
}
.search:hover{
   
    width: 25px !important;
    height: 25px !important;


}
@media screen and (max-width: 968px){
      .wrapper .btn{
            display:block;
      }
      .wrapper .nav-links{
            position:fixed;
            height: 100vh;
            width: 100%;
            max-width: 350px;
           
            display: block;
            top: 0;
            left: -100%;
            overflow-y: auto;
            line-height: 50px;
            padding:50px 10px;
          
      background:linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 3.5px );
      -webkit-backdrop-filter: blur( 3.5px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
            
      }
      #menu-btn:checked~ .nav-links{
            left: 0%;
      }
      #menu-btn:checked~ .btn.menu-btn{
           display: none;
      }
      .nav-links::-webkit-scrollbar{
            width: 0;
      }
      .nav-links li{
            margin:15px 10px;   
      }
      .nav-links li a{
            padding: 0 20px;
            text-align:left;
             
    
      }
 
      .nav-links .desktop-item{
            display: none;
      }
      .nav-links .mobile-item{
            display:block;
            font-size: 20px;
            color: rgb(0, 0, 0);
            font-weight: 600;
            padding-left: 20px;
            cursor: pointer;
            border-radius: 8px;
            transition: all .3s ease-out;
           
      }
      .nav-links .mobile-item:hover{
           
      background:linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 3.5px );
      -webkit-backdrop-filter: blur( 3.5px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
         display: block; 
      }
      
      .mega-box{
            position:static;
            top:75px;
            width:100%;
            left: 0;
            opacity: 1;
            visibility:visible ;
            transition: all .3s ease;
            max-height: 0px;
            overflow:hidden;
         
      }
      .mega-box .content{
      
           flex-direction: column;
           padding: 20px 20px 0 20px;
        
      }
      .mega-box .content .row{
            width:100%;
            margin-bottom: 15px;
            border-top: 1px solid rgba(0, 0, 0, .15);
      }
      .content .row header{
            font-size: 23px;
      }
      .content .row .mega-links{
            width:100%;
      }
      #arrowDown{
            display: visible;
      }

}

.wrapper input{
      display:none;
}

.icon span {
      display: inline-block;
      
      position: relative;
    }
    
    .icon .count {
      justify-content: center;
      position: absolute;
      top: -20px;
      right: -0.8rem;
      background:linear-gradient(to right, #c06cd8, #765aea);
      height: 25px;
      padding: 3px 6px 6px 6px;
      color: rgb(0, 0, 0);
      font-weight: 400;
      border-radius: 40%;
      cursor: pointer;
      margin-right:7px;
      margin-top: 3px;
    }
    .icon img{
          cursor: pointer;
          margin-right: 10px;
    }

    /* hero */
    .bc{
       
      background: linear-gradient(to top, #e7f3ea 0%, #e3eeff 99%, #e3eeff 100%);
     
      height: 760px;
}
.grid-home{
      display:grid;
      grid-template-columns: auto auto;
}
.hero1-h1{
      margin-top: 200px;
      margin-left: 150px;
      font-size: 60px;
      font-weight: 600;
      
}
.hero1-p1{
      margin-top: 40px;
      margin-left: 150px;
      font-size: 17px;
      font-weight: 400;
      font-family: 'Nunito', sans-serif;
}
.bc .typewrite{
      text-decoration: none;
      background: linear-gradient(to right, #00d6e8 0%, #c7e427  51%, #2a6fcf 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}
.bc .typewrite span{
      color: black;
      font-size: 40px;
}


.btn-grad1 {background-image: linear-gradient(to right, #142336 0%, #79adc5  51%, #74cfab 100%)}
.btn-grad1 {
      background-image: linear-gradient(to right, #7b4f94 0%, #515cdb  51%, #8e9bdd 100%);
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 4px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      margin-left: 150px;
      margin-top: 40px;
   padding: 13px 40px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 160% auto;
   color: #000;          
   font-family: 'Nunito', sans-serif;
   display: block;
   border: none;

 }

 .btn-grad1:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
   background-image: linear-gradient(to right, #df6f91 0%, #4dc5a3  51%, #338de3 100%);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
 }
 .hero1-btn{
       text-decoration: none;
       color: white;
 }
 .hero1-btn:hover{
       color: black;
 }

 

 .hero1-img{
   width: 600px;
    height: 500px;;
    margin-top: 40px;
 }

 .bc .true{
      background: linear-gradient(to right, #18e4e4 0%, #db9252  51%, #1499e6 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
 }



/* about us  */

.ab{
      background-image: linear-gradient(to top, #e7cdda 0%, #e7f3ea 100%);
      height: 750px;
}
.ab img{
      margin-top: 20px;
      width: 600px;
      height: auto;
}
.ab .abtxt{
      margin-top: 150px;
      text-align: start;
}
.ab .abtxt h1{
      text-transform: capitalize;
      font-weight: 600;
      font-size: 50px;
     
}
.ab .abtxt p{
      font-family: 'Nunito', sans-serif;
      font-size: 18px;
}
.ab .about-btn{
      background-image: linear-gradient(to right, #7b4f94 0%, #515cdb  51%, #8e9bdd 100%);
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 4px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      margin-top: 40px;
   padding: 15px 35px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 160% auto;
   color: #000;
   display: block;
   border: none;
}
.ab .about-btn:hover{
      background-position: right center; /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    background-image: linear-gradient(to right, #df6f91 0%, #4dc5a3  51%, #338de3 100%);
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 4px );
   -webkit-backdrop-filter: blur( 4px );
   border-radius: 10px;
   border: 1px solid rgba( 255, 255, 255, 0.18 );
}


/* provide sections */

.provide{
     height: 750px;
     background-image: linear-gradient(to top, #CADEC7 0%, #e7cdda 100%);
}

.provide img.image-1{
      border-radius:20px;
      background: #FECDBD;
      width: 55px;
      height: 55px;
      margin-top: 15px;
      text-transform: capitalize;
}
.provide-items-1{
      text-transform: capitalize;
      border-radius:25px;
      color:white;
      width: 350px ;
      height: 200px;
      background: linear-gradient(145deg, #ebb7a6, #FB8660);
      box-shadow:  20px 20px 60px #bebebe,
                   -20px -20px 60px #ffffff;
}
.provide .provide-items-1 h5{
      margin-top: 25px;
      font-size: 25px;
      text-transform: capitalize;
}
.provide .provide-items-1 p{
      text-transform: capitalize;
      margin-top: 15px;
      font-size: 13px;
      color: #fff1f1;
}


/* image 2 */
.provide img.image-2{
      border-radius:20px;
      background: #9BE7FF;
      width: 55px;
      height: 55px;
      margin-top: 15px;
}
.provide-items-2{
      text-transform: capitalize;
      border-radius:25px;
      color:white;
      width: 350px ;
      height: 200px;
      background: linear-gradient(145deg, #a3daeb, #70CFDD);
      box-shadow:  20px 20px 60px #bebebe,
                   -20px -20px 60px #ffffff;
}
.provide .provide-items-2 h5{
      margin-top: 25px;
      font-size: 25px;
      text-transform: capitalize;
}
.provide .provide-items-2 p{
      margin-top: 15px;
      font-size: 13px;
      text-transform: capitalize;
      color: #fff1f1;
}


/* image 2 */
.provide img.image-3{
      border-radius:20px;
      background: #FDE1B8;
      width: 55px;
      height: 55px;
      margin-top: 15px;
}
.provide-items-3{
      text-transform: capitalize;
      border-radius:25px;
      color:white;
      width: 350px ;
      height: 200px;
      background: linear-gradient(145deg, #f1d5ae, #F9C24A);
      box-shadow:  20px 20px 60px #bebebe,
                   -20px -20px 60px #ffffff;
}
.provide .provide-items-3 h5{
      margin-top: 25px;
      font-size: 25px;
      text-transform: capitalize;
}
.provide .provide-items-3 p{
      margin-top: 15px;
      font-size: 13px;
      text-transform: capitalize;
      color: #fff1f1;
}

/* 2nd part of provide-items */

.provide img.image-4{
      border-radius:20px;
      background: #CADEC7;
      width: 55px;
      height: 55px;
      margin-top: 15px;
      text-transform: capitalize;
}
.provide-items-4{
      text-transform: capitalize;
      border-radius:25px;
      color:white;
      width: 350px ;
      height: 200px;
      background: linear-gradient(145deg, #daf3d6, #94B38F);
      box-shadow:  20px 20px 60px #bebebe,
                   -20px -20px 60px #ffffff;
}
.provide .provide-items-4 h5{
      margin-top: 25px;
      font-size: 25px;
      text-transform: capitalize;
}
.provide .provide-items-4 p{
      text-transform: capitalize;
      margin-top: 15px;
      font-size: 13px;
      color: #fff1f1;
}


/* image 2 */
.provide img.image-5{
      border-radius:20px;
      background: #eb9bff;
      width: 55px;
      height: 55px;
      margin-top: 15px;
}
.provide-items-5{
      text-transform: capitalize;
      border-radius:25px;
      color:white;
      width: 350px ;
      height: 200px;
      background: linear-gradient(145deg, #ecc4f7, #ab73b9);
      box-shadow:  20px 20px 60px #bebebe,
                   -20px -20px 60px #ffffff;
}
.provide .provide-items-5 h5{
      margin-top: 25px;
      font-size: 25px;
      text-transform: capitalize;
}
.provide .provide-items-5 p{
      margin-top: 15px;
      font-size: 13px;
      text-transform: capitalize;
      color: #fff1f1;
}


/* image 2 */
.provide img.image-6{
      border-radius:20px;
      background: #b8c2fd;
      width: 55px;
      height: 55px;
      margin-top: 15px;
}
.provide-items-6{
      text-transform: capitalize;
      border-radius:25px;
      color:white;
      width: 350px ;
      height: 200px;
      background: linear-gradient(145deg, #b8c2fd, #4260a0);
      box-shadow:  20px 20px 60px #bebebe,
                   -20px -20px 60px #ffffff;
}
.provide .provide-items-6 h5{
      margin-top: 25px;
      font-size: 25px;
      text-transform: capitalize;
}
.provide .provide-items-6 p{
      margin-top: 15px;
      font-size: 13px;
      text-transform: capitalize;
      color: #fff1f1;
}


/* our protfolio */
.protfolio{
      background-image: linear-gradient(to top, #ded5c7 0%, #caddc7 100%);  
      height: 1200px;
}
.protfolio p{
      width: 900px;
      font-family: 'Nunito', sans-serif;
      font-size: 18px;
      margin-bottom: 25px;
      margin-top: 15px;
}
.warpper-protfolio{
      display:flex;
      flex-direction: column;
      align-items: center;
     
    }
    .tab{
      cursor: pointer;
      padding:10px 15px;
      margin:10px 10px;
      background: linear-gradient(145deg, #b8c2fd, #4260a0);
      color:rgb(255, 255, 255);
      border-radius: 15px;
      display:inline-block;
      box-shadow:  20px 20px 60px #bebebe,
      -20px -20px 60px #ffffff;
      text-transform: capitalize;
    }
    .panels{
      background: rgba( 255, 255, 255, 0.25 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 4px );
      border-radius: 20px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      min-height:200px;
      width:100%;
      max-width:1150px;
      border-radius:20px;
      overflow:hidden;
      padding:20px;  
    }
    .panel{
      display:none;
      animation: fadein 1s;
    }
    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    .panel img{
          width:350px;
          height:300px;
          border-radius: 15px;
          background: rgba( 255, 255, 255, 0.25 );
          box-shadow: 0 3px 3px 0 rgba( 31, 38, 135, 0.37 );
          backdrop-filter: blur( 4px );
          -webkit-backdrop-filter: blur( 4px );
          border-radius: 20px;
          border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
   .warpper-protfolio  .panel img:hover{
          transform: scale(1.1);
          
    }
    .warpper-protfolio .protfolio-btn {
          display:block;
          width: 180px;
          height: 45px;
          margin-top: 25px;
          border-radius:15px;
          background: linear-gradient(145deg, #ebb7a6, #FB8660);
          box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
          backdrop-filter: blur( 4px );
          -webkit-backdrop-filter: blur( 4px );
          border: 1px solid rgba( 255, 255, 255, 0.18 );
          text-transform: uppercase;
          font-size: 18px;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
 
          color: rgb(5, 5, 5);
    }
    .warpper-protfolio .protfolio-btn:hover{
      border-radius:15px;
      background: linear-gradient(145deg, #a3daeb, #348794);
      box-shadow:  20px 20px 60px #bebebe,
                   -20px -20px 60px #ffffff;
   
    }
    .radio{
      display:none;
    }
    #one:checked ~ .panels #one-panel,
    #two:checked ~ .panels #two-panel,
    #three:checked ~ .panels #three-panel,
    #four:checked ~ .panels #four-panel,
    #five:checked ~ .panels #five-panel
    
    {
      display:block
     
    }
    #one:checked ~ .tabs #one-tab,
    #two:checked ~ .tabs #two-tab,
    #three:checked ~ .tabs #three-tab,
    #four:checked ~ .tabs #four-tab,
    #five:checked ~ .tabs #five-tab
    {
      background: linear-gradient(145deg, #59e995, #4260a0);
      color:#000;
      border-radius: 20px;
     
    }

/* your ideas */
    .ideas{
      background-image: linear-gradient(to top, #f3d5c2 0%, #ded5c7 100%);
      height: 700px;
}
.ideas img{
      margin-top: 20px;
      width: 600px;
      height: auto;
}
.ideas .abtxt{
      margin-top: 50px;
      text-align: start;
      padding-left: 100px;;
}
.ideas .abtxt h1{
      text-transform: capitalize;
      font-weight: 600;
      font-size: 50px;
      margin-bottom: 25px;
     
}

.ideas .abtxt p{
      font-size: 18px;
      font-family: 'Nunito', sans-serif;
}


/* industries  */

.industries{
      background-image: linear-gradient(to top, #c2b6b9 0%, #f3d5c2 100%);
      height: 800px;
}
.industries-area img{
      margin-top: 80px;
      width: 600px;
      height: auto;
}
.industries-area .abtxt{
      margin-top: 150px;
      text-align: start;
      padding-right: 100px;
}
.industries-area .abtxt h1{
      text-transform: capitalize;
      font-weight: 600;
      font-size: 50px;
}
.industries-area .abtxt p{
      font-family: 'Nunito', sans-serif;
      font-size: 18px;
}
.industries .industries-area .abtxt button{
      display: inline;
      width: 150px;
      height:45px;
      margin-right: 40px;
      border-radius:15px;
      color: #0f0f1d;
      background-image: linear-gradient(to right, #6880d0 0%, #c3ec8d 100%);
      box-shadow: 0 8px 8px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 1px );
      -webkit-backdrop-filter: blur( 1px );
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      top: 0;
  transition: top ease 0.5s;
  position: relative;
}
.industries .industries-area .abtxt button:hover{
      background-image: linear-gradient(to right, #26C0B3 0%, #3CDD9D 100%);
      top: -10px;
    
}

/* testimonials */
.testimonial{
      background-image: linear-gradient(to top, #e28da2 0%, #c3b6b9 100%);
      height: 600px;
}
.box{
      margin-left: 100px;
      width: 520px;
      height:300px;
      background-image: linear-gradient(to right, #a4ebe4 0%, #c3b6b9 100%);
box-shadow: 10px 10px 25px rgba(53, 67, 74, 0.1), 5px 5px 20px rgba(115, 115, 115, 0.1);
border-radius: 20px;
}
.carousel-inner .box .carousel-img{
      margin-top: 10px;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: rgb(173, 117, 117);
     

}


.pr{
      width:50px;
      height:50px;
      top: 190px;
      margin-left: 10px;
      color: rgb(34, 26, 26);


}


.ne{
      width:50px;
      height:50px;
      top: 190px;
      margin-right: 10px;
      color: rgb(34, 26, 26);
}


